# Ignore the Python Virtual Environment
.venv/
venv/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

DATA/
*.csv
*.txt
*.db
*.parquet




# Ignore operating system system files
Thumbs.db
.DS_Store